.chat {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: background-color 0.3s ease;
}

.chat:hover {
  background-color: #1abc9c;
  color: white;
  cursor: pointer;
}

.img-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #7f8c8d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container svg {
  font-size: 20px;
  color: white;
}

.name-and-message {
  flex-grow: 1;
  font-size: 14px;
  color: #000;
  /* word-wrap: break-word; */
  overflow: hidden;
}

.time {
  font-size: 12px;
  color: #000 !important;
}
